name: Tests

on:
  pull_request:
    paths:
      - 'config/**'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/tests.yml'
      - 'composer.json'
  push:
    branches: ['main']
    paths:
      - 'config/**'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/tests.yml'
      - 'composer.json'
  workflow_dispatch:

jobs:
  test:
    # Don't run the tests on internal PRs
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    name: PHP ${{ matrix.php }} / Symfony ${{ matrix.symfony }}
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4', '8.5']
        symfony: ['6.4.*']
        include:
          - php: '8.4'
          - symfony: '7.4.*'
          - symfony: '8.0.*'
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: flex

      - name: Download dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
        uses: ramsey/composer-install@v3

      - name: Run test suite on PHP ${{ matrix.php }} and Symfony ${{ matrix.symfony }}
        run: ./vendor/bin/phpunit
