name: Tests

on:
  pull_request:
    paths:
      - "config/**"
      - "src/**"
      - "tests/**"
      - ".github/workflows/tests.yml"
      - "composer.json"
  push:
    branches: ["main"]
    paths:
      - "config/**"
      - "src/**"
      - "tests/**"
      - ".github/workflows/tests.yml"
      - "composer.json"
  workflow_dispatch:

jobs:
  test:
    name: >
      ${{ format('PHP {0} - Sf {1} - deps {2} - stab. {3}',
        matrix.php-version || 'Ø',
        matrix.symfony-require || 'Ø',
        matrix.dependencies || 'Ø',
        matrix.stability || 'Ø'
      ) }}
    runs-on: "ubuntu-latest"
    env:
      SYMFONY_REQUIRE: ${{matrix.symfony-require}}
      SYMFONY_DEPRECATIONS_HELPER: weak

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        dependencies:
          - "highest"
        stability:
          - "stable"
        symfony-require:
          - ""
        include:
          # Test with the lowest set of dependencies
          - php-version: "8.1"
            dependencies: "lowest"
            stability: "stable"

          # Test 6.4 LTS
          - php-version: "8.5"
            symfony-require: "6.4.*"
            dependencies: "highest"

          # Test 7.4 LTS
          - php-version: "8.5"
            symfony-require: "7.4.*"
            dependencies: "highest"

          # Bleeding edge
          - php-version: "8.5"
            dependencies: "highest"
            stability: "dev"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 2

      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-file: "development"
          tools: flex

      - name: "Enforce using stable dependencies"
        run: "composer config minimum-stability stable"
        if: "${{ matrix.stability == 'stable' }}"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "--prefer-dist"

      - name: Run test suite on PHP ${{ matrix.php }} and Symfony ${{ matrix.symfony }}
        run: ./vendor/bin/phpunit
