name: Tests

on:
    push:
    pull_request:

jobs:
    test:
        # Don't run the tests on internal PRs
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

        name: PHP ${{ matrix.php }} / Symfony ${{ matrix.symfony }}
        runs-on: 'ubuntu-latest'

        strategy:
            matrix:
                php: ['8.1', '8.2']
                symfony: ['6.0.*', '6.1.*']
                include:
                    - php: '8.1'
                      symfony: '5.4.*'

        steps:
            - uses: actions/checkout@v3

            - name: Setup PHP ${{ matrix.php }}
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: flex

            - name: Download dependencies
              env:
                  SYMFONY_REQUIRE: ${{ matrix.symfony }}
              uses: ramsey/composer-install@v1

            - name: Run test suite on PHP ${{ matrix.php }} and Symfony ${{ matrix.symfony }}
              run: ./vendor/bin/phpunit
